@charset "utf-8";
/*header*/
@font-face {
  font-family: 'KHMERMEF1';
  src:  url('../fonts/KHMERMEF1.woff') format('truetype');
}
@font-face {
  font-family: 'KHMERMEF2';
  src:  url('../fonts/KHMERMEF2.woff') format('truetype');
}
@font-face {
      font-family:'automation';
      src:  url('../fonts/IDAutomationHC39M.ttf') format('truetype');
  }
  @font-face {
	font-family: 'KHSiemreap';
	src:  url('../fonts/KhmerOSSiemreap.ttf') format('truetype');
  }

.pl20{padding-left:20px;}
.pl10{padding-left:10px;}
.pt60{padding-top:60px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pt10{padding-top:10px;}
.fl{float: left;}
.fr{float: right;}
.clear{clear:both;}
.fw-bold{font-weight: bold;}
.col-blue{color:#0f2e4a;}
.col-red{color:red;}
.w100{width:100%;}
.w50{width:49%;}
.w40{width:40%;}
.w20{width:20%;}
body{
	background:#f9f9f9;
	font-family: 'KHSiemreap';
	}
.wrapper{

    width: 100%;
    margin: 0 auto;
}
header{
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    position: relative;
    background: url(../images/hr.jpg) repeat-x bottom;
	line-height:1.7;
}
.fileUpload{
    width:96px;
    height: auto;
    border: 2px solid #fff;
    display: inline-block;
    position: absolute;
    right: 3%;
    top:10px;
	cursor: pointer;
}
h1{
    font-family: 'KHMERMEF2';
    font-weight: normal;
    font-size: 16px;
    float: left;
    margin-left:10px;
}
h2, .h2 {
    font-size: 20px;
}
h3, .h3 {
    font-size: 18px;
}
h2{
    font-family: 'KHMERMEF2';
    font-weight: normal;
    clear: both;
	margin-left:35px;
    margin-top: 55px;
    background: url(../images/Info.png) no-repeat left center;
    background-size: 20px;
    padding-left:25px;
    color:#4382b8;
}
h2 span{
    font-size: 18px;
}
h3{
    border-left:6px solid #302f3d;
    padding-left: 10px;
    margin:20px 0 10px 20px;
    font-family: 'KHMERMEF2';
    font-weight: normal;
    clear:both;
}
.blg-logo{
	 position: absolute;
    top: 5px;
    left:10px;
    display: none;
}
.blg-motto{
    clear: both;
    font-family: 'KHMERMEF2';
    text-align: center;
    position: absolute;
    top: 10px;
    right:11%;
    display: none;
}
.col-black{
	color: #7a7a52;
}
.content{overflow: hidden;height:100%;}
.ttl{
    clear:both;
    font-family: 'KHMERMEF2';
    padding:20px 20px 40px 20px;
    background-size:100px;
    font-size: 18px;
	color:#0f2e4a;
    color: #fff;
    text-align: center;
    background: url(../images/header.png) repeat-x left bottom, #4382b8;
	/*background:#4382b8;*/

    background-size: 19%;

    margin-bottom: 0;
}
.editProfile{
    font-family: 'KHSiemreap';
    color:#fff;
    font-size:12px;
    position: absolute;
    right: 11%;
    bottom: 10px;
    background: url(../images/edit-icon.png) no-repeat left center;
    background-size: 15px;
    padding-left: 20px;
    letter-spacing: 0.7px;

}
.submitProfile{
	right: 24%;
	background: none;
	padding-left: 0px;
}
.h-detail{
    font-size:12px;
    font-family: 'KHSiemreap';
    letter-spacing: 1px;
    color:#518dc1;
}
#btn-print{
    background: url(../images/printer.png) no-repeat center center;
    background-size:20px;
    padding:0 20px;
    border: 1px solid #6a6868 !important;
    border-radius: 5px 5px;
}
table{
        border: 1px solid #ddd;
    background: #fff;
    /*-webkit-box-shadow: 1px 1px 1px 1px #E3E3E3;
    box-shadow: 1px 1px 1px 1px #E3E3E3;*/
}
.table-bordered > thead > tr > th{
	border-bottom-width: 1px;
}
.wrap-print table{
    border: none;
    background: none;
}
.wrap-print table td{
       padding: 5px 0 0 5px;
}
.jqx-notification-warning, .jqx-warning{
    background:url("../images/alert.png") no-repeat left 25px center,rgba(226, 175, 3, 0.9) !important;
    border:none !important;
    border-radius: 0 !important;
    font-size:16px !important;
    padding:20px 50px;
}
.jqx-notification-success, .jqx-success{
    background:url("../images/tick.png") no-repeat left 25px center,rgba( 51, 153, 51, 0.8) !important;
    background-size:18px;
    border:none !important;
    border-radius: 0 !important;
    font-size:16px !important;
    padding:20px 50px;
}
label{
    font-style: normal;
    font-weight: normal;
}
aside{
   display: flex;
  justify-content: center;
  align-items: center;
    font-family: 'KHSiemreap';
    background: none;
	line-height:1.8;
    overflow: auto;
    position: relative;
    top: 24px;
    z-index: 2;

}
aside ul{
    list-style: none;
    padding:0 0;
    margin: 0;
     background:url(../images/line-step.png) no-repeat center center;
    background-size: 700px 3px;
}

aside ul li{
    text-align: center;
    font-size: 13px;
    color:#c7c7c7;
    float:left;
    background:#83a942;
    border-radius: 50% 50%;
    margin:0 20px;
    background:url(../images/step-bg.png) no-repeat center center;
    background-size: 100%;
}
aside ul li a:last-child{
     padding:12px 18px;
}
aside ul li a{
    text-align: center;
    color:#4382b8;
    display: block;
	padding: 12px 20px;
}
.success{
    background: url(../images/step-success.png) no-repeat center center;
     background-size: 100%;
    list-style: none;
    color:#fff;
    text-decoration: none;
    font-weight: bold;

}
.active{
    background:url(../images/step-active.png) no-repeat center center;
    background-size: 100%;
    list-style: none;

    text-decoration: none;
    font-weight: bold;

}
.active a,
.success a{  color:#fff !important;}
.success.active{
    background:url(../images/active-check.png) no-repeat center center;
    background-size: 100%;
    list-style: none;

    text-decoration: none;
    font-weight: bold;

}
#primary{
    width:78%;
   margin: 0 auto;
    line-height:1.7;
	padding:0 0 10px;
    font-family: 'KHSiemreap';
    position: relative;
    background:#fefefe;
    border:1px solid #e7e7e7;
	border-radius:10px 10px;
	box-shadow: inset 0px -1px 5px 1px #F0F0F0;
-webkit-box-shadow: inset 0px -1px 5px 1px #F0F0F0;
-moz-box-shadow: inset 0px -1px 5px 1px #F0F0F0;
-o-box-shadow: inset 0px -1px 5px 1px #F0F0F0;
}
label{
	color:#4f5050;
}
label span{padding:0 3px;}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"]{
	padding:3px 5px;
	margin:0px 0;
	box-sizing:border-box;
	border-radius:3px 3px;
	border:1px solid #e6e6e6;
	background:#fff;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus{
	background:#fff;
	border:1px solid #c8d5fa;
}
.ws-5{
	width:15%;
	float:left;
	margin-left:2%;
}
.ws-4{
	width:28%;
	float:left;
	margin-left:2%;
}
.ws-3{
	width:30%;
	float:left;
	margin-left:2%;
}
.ws-2{
	width:44%;
	float:left;
	margin-left:2%;
}
.ws-1{
	width:90%;
	margin-left:2%;
}
.btn-save{
	margin:2%;
	clear:both;
	float:left;
}
.btn-add{
    position: relative;
    top:8px;
}
section{
    overflow: hidden;
    position: relative;
}
section section, .tblSection{
     box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.1);
    margin: 5px auto 10px;
    width: 95%;

    padding:5px 10px 20px;
    background: #fff;
}
.ui-tooltip {
    max-width: 800px;
	width:100%;
	z-index:99999999999;
	position:relative;
}
.tooltip-img{
	width:700px;
}
.toolhelp1,
.toolhelp2,
.toolhelp3,
.toolhelp4,
.toolhelp5,
.toolhelp6,
.toolhelp7{
	 position: absolute;
    right:0;
    top: 3px;
    width:20px;
    z-index: 5;
}
.help{
    position: absolute;
    right:10px;
    top: 10px;
    width:20px;
    z-index: 5;
}
#register{
	max-width:980px;
	width:100%;
	margin:0 auto;
	 font-family: 'KHSiemreap';
}
.image-tooltip{
	position:absolute;
	right:35px;
	top:0;
	max-width:600px;
	width:100%;
	border:1px solid #999;
	border-radius:10px 10px;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.32);
	-moz-box-shadow:    0px 0px 4px 0px rgba(50, 50, 50, 0.32);
	box-shadow:         0px 0px 4px 0px rgba(50, 50, 50, 0.32);
}
.jqx-item div{
	overflow:visible !important;
}
.row-fam{
	background:#f6f6f6;
	margin-bottom:10px;
	margin-right:0;
	margin-left:0;
}
.print-layout-wrapper{
	max-width: 980px;
    width: 100%;
    margin: 0 auto;
}
.container-fluid{padding:0;}


.edit-head{
	background: rgba(241,241,241,1);
	background: -moz-linear-gradient(top, rgba(241,241,241,1) 0%, rgba(229,229,229,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,241,241,1)), color-stop(100%, rgba(229,229,229,1)));
	background: -webkit-linear-gradient(top, rgba(241,241,241,1) 0%, rgba(229,229,229,1) 100%);
	background: -o-linear-gradient(top, rgba(241,241,241,1) 0%, rgba(229,229,229,1) 100%);
	background: -ms-linear-gradient(top, rgba(241,241,241,1) 0%, rgba(229,229,229,1) 100%);
	background: linear-gradient(to bottom, rgba(241,241,241,1) 0%, rgba(229,229,229,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#e5e5e5', GradientType=0 );
	text-align:center;
	color:#5d5d5d;
	font-family:'battambang';
	font-size:24px;
	padding:20px 0;
	margin: 0 0 40px 0 ;
	border-bottom:1px solid #c4c4c4;
	border-top:1px solid #dedede;
	font-family: 'KHMERMEF2';
	font-weight:normal;
}
.detail-head{
	font-size:13px;
	letter-spacing:1px;
}
.hdr-edit{
	background: rgba(241,241,241,1);
	background: -moz-linear-gradient(top, rgba(241,241,241,1) 0%, rgba(231,231,231,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,241,241,1)), color-stop(100%, rgba(231,231,231,1)));
	background: -webkit-linear-gradient(top, rgba(241,241,241,1) 0%, rgba(231,231,231,1) 100%);
	background: -o-linear-gradient(top, rgba(241,241,241,1) 0%, rgba(231,231,231,1) 100%);
	background: -ms-linear-gradient(top, rgba(241,241,241,1) 0%, rgba(231,231,231,1) 100%);
	background: linear-gradient(to bottom, rgba(241,241,241,1) 0%, rgba(231,231,231,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#e7e7e7', GradientType=0 );
	padding:0;
	margin:0;
}
.ttl-edit{
	padding:20px 0 5px 10px;
	font-family: 'KHMERMEF2';
	color: #4382b8;
	font-size:18px;
}
.blg-edit{
	padding:20px 20px 0;
}
.shade-box{
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.45);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.45);
    box-shadow: 0 1px 2px rgba(0,0,0,0.45);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.45);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.45);
    box-shadow: 0 1px 2px rgba(0,0,0,.45);
	border-radius:5px 5px;
	position:relative;
	padding:0;
	margin:0;
}
.btn-edit{
	padding:5px 25px;
	margin:10px 10px;
	background: rgba(58,138,250,1);
	background: -moz-linear-gradient(top, rgba(58,138,250,1) 0%, rgba(30,118,212,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(58,138,250,1)), color-stop(100%, rgba(30,118,212,1)));
	background: -webkit-linear-gradient(top, rgba(58,138,250,1) 0%, rgba(30,118,212,1) 100%);
	background: -o-linear-gradient(top, rgba(58,138,250,1) 0%, rgba(30,118,212,1) 100%);
	background: -ms-linear-gradient(top, rgba(58,138,250,1) 0%, rgba(30,118,212,1) 100%);
	background: linear-gradient(to bottom, rgba(58,138,250,1) 0%, rgba(30,118,212,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a8afa', endColorstr='#1e76d4', GradientType=0 );
	font-size:12px;
}
.cont-edit{
	padding:10px 20px !important;
}
.body-edit{
	    background: #fff;
    -webkit-box-shadow: inset 0 -1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: inset 0 -1px 2px rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 2px rgba(0,0,0,.15);
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	margin:0;
	padding:10px 10px 0;
}
.btn-close{
	background: rgba(145,143,145,1);
	background: -moz-linear-gradient(top, rgba(145,143,145,1) 0%, rgba(107,107,107,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(145,143,145,1)), color-stop(100%, rgba(107,107,107,1)));
	background: -webkit-linear-gradient(top, rgba(145,143,145,1) 0%, rgba(107,107,107,1) 100%);
	background: -o-linear-gradient(top, rgba(145,143,145,1) 0%, rgba(107,107,107,1) 100%);
	background: -ms-linear-gradient(top, rgba(145,143,145,1) 0%, rgba(107,107,107,1) 100%);
	background: linear-gradient(to bottom, rgba(145,143,145,1) 0%, rgba(107,107,107,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#918f91', endColorstr='#6b6b6b', GradientType=0 );
	border:1px solid #ccc;
}
.tbl-edit-cont{
	border:none;
	margin:0 0 10px 0;
}
.tbl-edit-cont td{
	width:30%;
	padding:7px 0;
	font-size:12px;
}
.ttl-each{
	padding:15px 0 0 10px;
}
.bg-transparent{
	 background-color: rgba(255, 255, 255, 0.7);
	position:fixed;;
	display:none;
	top:0;
	bottom:0;
	width:100%;
	height:100%;
	z-index:999;
	transition: display 4s ease;
}
.hiddenTran{display:none;}
.showTran{display:block;}
.blg-fade-edit{
	display:none;
	position:relative;
	z-index:9999;
}
footer p{
	background:#4382b8;
	padding:0;
	margin:50px 0 0;
	text-align:center;
	padding:10px 0;
	font-family: 'KHSiemreap';
	color:#fff;
	font-size:13px;
	line-height:1.7;
}
.edit-logout{
	font-family: 'KHSiemreap';
	list-style-type:none;
	font-size:14px;
	position:absolute;
	right:11%;
	bottom:5px;
}
.edit-logout a:hover{
	text-decoration:none;
	opacity:0.6;

}
.complete-filling{
	font-size:13px;
	color:green;
	float: right;
    position: relative;
    top: 60px;
    right: 25px;
}
body{
	/*position:relative;	*/
	min-height:87vh;
}
footer{
    width: 100%;
    bottom: 0;
    position: fixed;
}
.re-code{
	top:35px;
}
.notifiPro{
	background:none;
	right:10%;
	cursor:pointer;
}
.content-notifi{
	width:78%;margin:0 auto;
}
a:hover > i .notifi{color:#fff;}
.img-login{
	float:left;
	width:50%;
}
.img-login img{
	width:100%;
}
.bg-login{
	float:left;
	background:#fff;
	width:50%;
	position:relative;
}
.bg-login-form{
	overflow:hidden;
	width:100%;
	padding:0;
	margin:0;
}
.login-pc{
	width:70%;
	max-width:960px;
	left:50%;
	top:45% !important;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	-webkit-box-shadow: 1px 5px 53px 9px rgba(0,0,0,0.12);
	-moz-box-shadow: 1px 5px 53px 9px rgba(0,0,0,0.12);
	box-shadow: 1px 5px 53px 9px rgba(0,0,0,0.12);
}
.bg-login input{
		background-color:#fff !important;
		border:none;
		border-bottom:1px solid #cccccc;
		box-shadow:none;
		width:100%;
		font-size:15px;
		padding:2px 2px 2px 10px !important;
		margin-bottom:40px;
}
#user_name{
	margin-bottom:15px;
}
.bg-login input:focus{
	box-shadow:none;
	border:none;
	border-bottom:1px solid #cccccc;
}
#user_name:-webkit-autofill,
#user_name:-ms-autofill{
	background-color:#f0f0f0 !important;

}
.bg-login label{
	color:#2b6ba2;
}
.lost-pwd{
	color:#d10d0d;
	text-decoration:underline;
}
.wrapper-guest-login{
	background: url(../images/header-login.png) repeat-x left bottom, #fff;
	background-size:29%;
	overflow:hidden;
	width:100%;
	height:100vh;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
}
.bg-login-form{
	border:none;
}
.ttl-login{
	width:16%;
	padding:50px 0 0 0;
	margin:0 auto;
}
.ttl-login img{
	width:100%;
	max-width:289px;
}
.p0{padding:0;}
.bot-form{
	position:absolute;
	overflow:hidden;
	width:50%;
	bottom:0;
	right:0;
}
.btn-custom{
	background:url(../images/bg-btn.jpg) repeat-x;
	border-radius:0;
	border:none;
	width:100%;
	padding:7px !important;
	color:#fff;
	margin-top:30px;
}
.btn-reg-custom{
	background:none;
	border:none;
	color:#2b6ba2;
	display:inline-block;
}
.txt-login-form{
	font-size:11px;
}



@media only screen and (max-width: 1500px) {

	.tbl-xrepeat{
		overflow-x:scroll;
		clear:both;
	}

}
@media only screen and (max-width: 1400px) {
	#primary{
        width:98%;
    }
	.re-code{
		top:35px;
	}
}
@media only screen and (max-width: 1200px) {
    aside{
     	padding:25px;

    }
	.ws-5{width:30%}
	.ws-2,.ws-4,.ws-3{width:70%}
	.ttl-login{
		width:20%;
	}

}

@media only screen and (max-width: 960px) {
	.ttl-login{
		width:40%;
	}
    section section{
        margin: 0 auto;
    }
	/*aside{
        width:100%;
		position:relative !important;
		height:auto;
		justify-content:flex-start;
        align-items:flex-start;
    }
	aside ul{background:none;}*/
    #primary{
        width:100%;
    }
	.ws-3,
	.ws-2{
		width:95%;
	}
    .btn-add{
        width:20px !important;
        top:5px;
    }
    .fileUpload{
        position: relative;
        right: auto;
        margin: 0 auto;
        display: block;
        border:2px solid #fff;
        -webkit-box-shadow: 1px 1px 1px 1px #E3E3E3;
        box-shadow: 1px 1px 1px 1px #E3E3E3;
    }
    .btn-save img{width:30%;}
    .lang-box{width:100% !important;}
    .pt60{padding-top: 10px;}
    input[type="text"],
	input[type="email"],
	input[type="tel"],
    input[type="date"]{

        width: 100%;
    }
	.tooltip-img{width:100% !important;}
	.re-code{
		top:10px;
	}


}
@media (min-width:768px) and (max-width:1199px) {
	.offset-login{
		margin-left:0;
	}
	.login-pc{
		width:90%;
	}
}
@media only screen and (max-width: 860px){
	.img-login{
		width:100%;
		float:none;
	}
	.bg-login{
		width:100%;
		float:none;
	}
	.login-pc{
		width:50%;
	}
	.bot-form{
		position:relative;
		width:100%;
	}
}
@media only screen and (max-width: 720px) {

	.login-mb{
		left:50%;
		top:50%;
		transform:translate(-50%,-50%);
		-webkit-transform:translate(-50%,-50%);
		-moz-transform:translate(-50%,-50%);
		-ms-transform:translate(-50%,-50%);
		width:90%;
		max-width:400px;
	}
	.ttl{
		padding-bottom:50px;
	}
    .blg-motto{display: none;}
    .blg-logo{
        position: relative;
        text-align: center;
        border-bottom: 1px dotted #ccc;
        left:0;
    }
    .blg-logo img{
        width:20% !important;
        float: none;
    }
    h1{float:none}
	.re-code{
		top:35px;
	}
}
/*aside ul li a{
	display: inline-block;
    padding-right: 15px;
    color:#fff;
}*/
#waiting-load{
	position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -16px;
    margin-top: -16px;
}

.events-none{
	pointer-events: none;
}
.display-none{
	display: none;
}
input[type="file"].display-none{
	display: none;
}
.block-71, .block-72, .block-74{ position: relative; }
#ModalConfirm .modal-dialog, .modal-confirm .modal-dialog{ max-width: 350px; }
.table.tbl-middle > thead > tr > th,
.table.tbl-middle > tbody > tr > th,
.table.tbl-middle > tfoot > tr > th,
.table.tbl-middle > thead > tr > td,
.table.tbl-middle > tbody > tr > td,
.table.tbl-middle > tfoot > tr > td{
	vertical-align: middle;
}
#primary.cont-edit section.block-1, #primary.cont-edit #situation-public-info > form > section{
	box-shadow: none;
    width: 100%;
}
#primary.cont-edit #situation-public-info > form > section > section{
	width: 100%;
}
#jqxNotificationDefaultContainer-bottom-right,#jqxNotificationDefaultContainer-bottom-left{
	z-index: 99999999;
}
.btn-primary.btn-edit:hover, .btn-primary.btn-edi:focus{
	background-position: 0 0;
}
.jqx-notification-warning, .jqx-warning,.jqx-notification-success, .jqx-success{
	font-family: 'KHSiemreap';
	font-size:20px;
	z-index: 999 !important;
}
#jqxNotificationDefaultContainer-top-right{
	z-index: 99999999 !important;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, button, input, optgroup, select, textarea{
	font-family: 'KHSiemreap';
}
#ModalUserFirstApproved .modal-dialog.modal-md{
	width:400px;
}
.jqx-tooltip-text{
	font-family: 'KHSiemreap';
	padding: 10px 8px;
}
.jqx-input-content, .jqx-tabs, .ui-grid-header-cell-label{
	font-family: 'KHSiemreap';
}
.warp-radio-gender{
	border: 1px solid #fff;
    padding-right: 10px;
}
.jqx-dropdownlist-content{
	line-height:20px;
}
.jqx-datetimeinput{ padding-left: 5px;font-family: 'KHSiemreap'; }
input[type=text].jqx-input, input[type=password].jqx-input{
	font-family: 'KHSiemreap';
}
.font-sans-serif{
	font-family: sans-serif;
}
.group-btn-right{ margin: 2%; margin-right: 3.5%; }
